<html>
    <head>
        <title>Shreya's Blog</title>
    </head>
    <body>
        <div>
           <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>Published: 24.04.2018, 19:48</p>
            <h2><a href="">My First Post</a></h2>
            <p> Hello, my name is Shreya Srivastava. I am graduate student doing masters in Cybersecurity</p>

        </div>

        <div>
            <p>Published: 24.04.2018, 19:52</p>
            <h2><a href="">My Second Post</a></h2>
            <p> Hello, my name is Shreya Srivastava. I am graduate student doing masters in Cybersecurity</p>

        </div>

    </body>



</html>
